
/*----------------------------------------OpenSans-------------------------------------------------*/

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*----------------------------------------RaleWay-------------------------------------------------*/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*---------------------------------------------------------------------------------------------------------*/

.main_width{
  width: 1627px;
  margin: 0 auto;
  /*border: 1px black solid;*/
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 0 6px 0 rgba(0 ,0, 0, 0.16);
}

h1{
  padding-left: 136px;
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 32px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: #08A6E4  ;
  line-height: 37px;

}

li{
  display: inline-block;
  list-style: none;
  text-align: center;
}

nav li{
  padding: 0 100px;
}

a{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: none;
  padding: 15px 0;
  position: relative;
}

a:hover:after{
  width: 80px;
  opacity: 1;
}

a:hover{
  color: black;
}

a:after{
  content: '';
  width: 0px;
  height: 4px;
  background-color: #08A6E4;
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: width 1s;
}

header div{
  display: flex;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;

}
section h2:nth-of-type(1){
  font-family: Raleway, sans-serif;
  font-size: 49px;
  line-height: 57px;
  font-weight: 400;
  width: 432px;
  text-align: center;
  margin: 130px auto 20px auto;

}

section h2:nth-last-of-type(1){
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 42px;
  margin: 100px auto;
}

section p{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto 38px auto;
}


button{
  background-color: #08A6E4;
  color: #FFFFFF;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  border-radius: 40px;
  border: 0 ;
}

section button{
  width: 440px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 23px;
  margin: 0 auto;
}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(544px + 163px + 116px);
  flex-basis: 33.33%;
  margin: 0 auto;

}

.stats ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.33%;
  min-height: 180px;
  padding: 0;
  margin: 0;
  position: relative;
}

.stats ul:nth-of-type(1){
  width: 145px;
}
.stats ul:nth-of-type(2){
  width: 176px;
  margin: 0 183px;
}
.stats ul:nth-of-type(3){
  max: 145px;
}




.stats ul li:nth-of-type(2){
  margin-top: 23px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
}

.stats ul li:nth-of-type(3){
  margin-top: 19px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #A5A5A5;
}

.stats ul li:first-of-type{
  margin-left: 28px;
}

.stats ul:nth-of-type(2) li:first-child{
  margin-top: 14px;
  left: 10px;
}

.stats ul li:first-of-type::before{
  content: '';
  width: 63px;
  height: 63px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  background-color: #08A6E4;
  top: -3px;
  left: 35px;
}

.stats ul:nth-of-type(1) li:first-of-type::before{
  content: '';
  background-color: #FB3B64;
}

.stats ul:nth-of-type(2) li:first-of-type::before{
  content: '';
  background-color: #08A6E4;
}

.stats ul:nth-of-type(3) li:first-of-type::before{
  content: '';
  background-color: #55DFB4;
}

