/*----------------------------------------OpenSans-------------------------------------------------*/
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*----------------------------------------RaleWay-------------------------------------------------*/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*---------------------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main_width {
  width: 1627px;
  margin: 0 auto;
  /*border: 1px black solid;*/
}

.alternative_width {
  width: 1124px;
  margin: 0 auto;
  /*border: 1px black solid;*/
  margin-bottom: 37px;
}

.alternative_height {
  height: 370px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

h1 {
  padding-left: 136px;
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 32px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: #08A6E4;
  line-height: 37px;

}

li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

nav li {
  padding: 0 100px;
}

nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: none;
  padding: 15px 0;
  position: relative;
}

nav a:hover:after {
  width: 80px;
  opacity: 1;
}

nav a:hover {
  color: black;
}

nav a:after {
  content: '';
  width: 0;
  height: 4px;
  background-color: #08A6E4;
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: width 1s;
}

header div {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

}

header section h2:nth-of-type(1) {
  font-family: Raleway, sans-serif;
  font-size: 49px;
  line-height: 57px;
  font-weight: 400;
  width: 434px;
  text-align: center;
  margin: 130px auto 20px auto;

}

header section h2:nth-last-of-type(1) {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 42px;
  margin: 100px auto;
}

header section p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto 38px auto;
}


button {
  color: #FFFFFF;
  border-radius: 40px;
  border: 0;
}

section:nth-of-type(1) button {
  width: 440px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 23px;
  margin: 0 auto;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(544px + 163px + 116px);
  flex-basis: 33.33%;
  margin: 0 auto;

}

.stats ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.33%;
  min-height: 180px;
  padding: 0;
  margin: 0;
  position: relative;
}

.stats ul:nth-of-type(1) {
  width: 145px;
}

.stats ul:nth-of-type(2) {
  width: 176px;
  margin: 0 183px;
}

.stats ul:nth-of-type(3) {
  /*max: 145px;*/
}


.stats ul li:nth-of-type(2) {
  margin-top: 23px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
}

.stats ul li:nth-of-type(3) {
  margin-top: 19px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #A5A5A5;
}

.stats ul li:first-of-type {
  margin-left: 28px;
}

.stats ul:nth-of-type(2) li:first-child {
  margin-top: 14px;
  left: 10px;
}

.stats ul li:first-of-type::before {
  content: '';
  width: 63px;
  height: 63px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  background-color: #08A6E4;
  top: -3px;
  left: 35px;
}

.stats ul:nth-of-type(1) li:first-of-type::before {
  content: '';
  background-color: #FB3B64;
}

.stats ul:nth-of-type(2) li:first-of-type::before {
  content: '';
  background-color: #08A6E4;
}

.stats ul:nth-of-type(3) li:first-of-type::before {
  content: '';
  background-color: #55DFB4;
}

main .offer_description {
  background-color: #F7F7F7;
  padding: 105px 0;
}


.alternative_width {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.alternative_width p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.alternative_width span {
  display: block;
  margin-bottom: 30px;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.block_A, .block_B, .block_C p {
  background-color: #FFFFFF;
}

.block_A p {
  width: 382px;
  height: calc(100% - 2 * 91px);
  margin: auto 35px;
  line-height: 22px;
  align-self: center;
  z-index: 0;
}

.block_A img {
  margin: 113px 118px 38px auto;
  z-index: 1;
}

div[class*="block"] {
  position: relative;
}


.block_A p::before {
  content: '';
  width: 180px;
  height: 180px;
  border-radius: 41px;
  transform: rotate(45deg);
  position: absolute;
  top: 38px;
  background-color: #FB3B64;
  right: 71px;
  z-index: 0;
}


p:after {
  content: "";
  width: 90%;
  height: 3px;
  display: block;
  position: relative;
  left: 0;
  bottom: -50px;
  z-index: 1;
}

.block_A p::after {
  background-color: #FB3B64;
}

.block_B p::after {
  background-color: #07ACE6;
}

.block_C p:after {
  background-color: #55DFB4;
}

.block_B img {
  margin: 29px auto 13px 70px;
  z-index: 1;
}


.block_B p::before {
  content: '';
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  background-color: #07ACE6;
  left: 70px;
  z-index: 0;
}

.block_B p {
  width: 366px;
  height: calc(100% - 2 * 70px);
  margin: auto 70px;
  line-height: 22px;
  align-self: center;
  z-index: 0;
}

.block_C p {
  width: 623px;
  height: 100%;
  padding: 70px 116px 70px 35px;
}

.block_C figure {
  height: 100%;
  background-color: #55DFB4;
}

.block_C img {
  padding: 100px 83px 64px 62px;
}

.block_A, .block_B, .block_C p, .block_C figure {
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}


.offered_packages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 100px auto;
  padding-top: 92px;
  text-align: center;
}

.basic_package, .premium_package {
  width: 372px;
  position: relative;
  top: 0;

}

.professional_package {
  width: 405px;
  margin: 0 59px;
  border: 1px solid #07ACE6;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
}

.offered_packages > h2 {
  position: absolute;
  top: 0;
  margin-bottom: 50px;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 42px;

}

.basic_package, .premium_package, .professional_package {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 18px;
}

.basic_package {
  border: 1px solid #FB3B64;
}

.premium_package {
  border: 1px solid #55DFB4;
}

.offered_packages li {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 22px;
}

.professional_package li {
  margin-bottom: 25px;
}

.contain::before {
  content: url("../images/checkmark.svg");
  position: relative;
  right: 10px;
  top: 1px;
}

.does_not_contain::before {
  content: url("../images/close.svg");
  position: relative;
  right: 10px;
  top: 1px;
}

.offered_packages div h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 34px auto 14px auto;
}

.offered_packages div h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin: 0 auto 69px auto;
}

.offered_packages .professional_package h3 {
  margin-bottom: 80px;
}

.offered_packages .basic_package h3 {
  color: #FB3B64;
}

.offered_packages .professional_package h3 {
  color: #07ACE6;
}

.offered_packages .premium_package h3 {
  color: #55DFB4;
}

.offered_packages ul li:nth-last-of-type(1) {
  margin-bottom: 73px;
}

.professional_package ul li:nth-last-of-type(1) {
  margin-bottom: 79px;
}

.professional_package h3::after, .premium_package h3::after {
  content: 'Oferta ograniczona';
  display: block;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #000;
}

.offered_packages button {
  border-radius: 23px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 16px 40px;
  position: relative;
  top: 25px;
}

.basic_package button {
  background-color: #EB476E;
}

.professional_package button {
  background-color: #07ACE6;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 1);
  padding: 16px 48px;
}

.premium_package button {
  background-color: #55DFB4;
}


.question_form {
  margin: 179px auto;
  width: 896px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.question_form div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.question_form form {
  display: flex;
  flex-direction: column;

}

.question_form h2 {
  font-family: Raleway, sans-serif;
  font-size: 49px;
  line-height: 57px;
  text-align: left;
  margin: 0 auto 22px 0;
}

.question_form div span:nth-of-type(1) {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 42px;

}


.contact_info {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 22px;
  color: #A5A5A5;
  margin-right: 70px;

}

.question_form span:nth-of-type(2)::before {
  content: url("../images/Mail Icon.svg");
  position: relative;
  left: -5px;
  top: 7px;
}

.question_form span:nth-of-type(3)::before {
  content: url("../images/Phone Icon.svg");
  position: relative;
  left: -5px;
  top: 7px;
}


.question_form form {
  min-width: 440px;
  position: relative;
}

.name, .email {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #08A6E4;
}


.name input, .email input {
  border: none;
  display: block;
  border-bottom: 1px solid #95989A;
  width: 100%;
  height: 43px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.72);
}

.name input {
  margin-bottom: 57px;
}

.email input {
  margin-bottom: 38px;
}

.data_approval {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  color: #707070;
  margin-bottom: 55px;
  position: relative;
  padding-left: 34px;
}

.data_approval:hover .checkmark {
  background-color: rgba(0, 0, 0, 0.1);
}

.checkmark::after {
  content: '';
  display: block;
  background-image: url("../images/checkbox.svg");
  width: 20px;
  height: 20px;
  opacity: 0;
}

.data_approval input:checked + .checkmark::after {
  opacity: 1;
}

.data_approval input:focus + .checkmark {
  border: 2px solid rgba(235, 41, 7, 0.73);
}

.checkmark {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #95989A;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.data_approval input{
  position: absolute;
  cursor: pointer;
  height: 24px;
  width: 24px;
  left: 0;
  bottom: -3px;
  opacity: 0;
}


.send_button input {
  width: 226px;
  height: 57px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 35px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  background-color: rgba(8, 166, 228, 1);
  position: absolute;
  right: 0;
}

footer {
  background-color: rgba(247, 247, 247, 1);
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.16);
  display: flex;

}

footer div {
  margin: 19px auto 17px 137px;
}

footer h2 {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
  line-height: 30px;
  color: rgba(8, 166, 228, 1);
  margin-bottom: 7px;

}

footer span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-align: left;
  line-height: 15px;
  color: rgba(165, 165, 165, 1);


}

footer img {
  width: 24px;
  height: 24px;
}

footer img {
  margin: 33px 25px auto 0;
}

footer img:nth-last-of-type(1) {
  margin-right: 146px;
}

/*--------------------------CALCULATOR----------------------------------------*/



.calculator {
  background-color: #F7F7F7;
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  min-height: 638px;
}

.calculator h2{
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.calculator > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 52px auto 109px auto;
}

.calculator form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 400px;
  padding: 0 23px;
}

.calculator form label, .dropDownLabel {
  width: 100%;
}

.calculator form label:nth-last-of-type(1){
  margin-bottom: auto;
}

.dropDownContainer{
  width: 100%;
  position: relative;
  margin: 10px 0;
}

#numberOfOrders, #numberOfProducts, .dropDownLabel{
  width: 100%;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 0;
  border: 1px solid #08A6E4;
  box-shadow: 0 3px 6px rgba(8, 166, 228, 0.16);
  border-radius: 6px;
  background-color: white;
  color: rgba(165, 165, 165, 1);
  padding: 0 20px;
}


.dropDownLabel{
  display: block;
  padding: 11px 20px;
  margin: 0;
}

.dropDownLabel:focus{
  border: 1px solid #0785bd;
}



.calculator .calculator_summary {
  display: flex;
  flex-direction: column;
  width: 385px;
  padding: 0 23px;
}

.dropDownContainer img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  transform-origin: center center;
  transform: rotate(-180deg);
  transition: transform 500ms ease-out;
}

/*.dropped{
  transition: transform 2s;
}*/

.dropdownList{
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  /*padding: 11px 20px;*/
  background-color: white;
  border-radius: 6px;
  border: 1px solid #EB476E;
  box-shadow: 0 3px 6px rgba(235, 71, 110, 0.16);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  transform: translateY(10px);
  transition: opacity 700ms ease-out;
  z-index: -1;
  /*transition: opacity 500ms;*/
}

.dropdownList li{
  width: 100%;
  padding: 11px 20px;
  text-align: left;
}

.dropdownList li:hover{
  cursor: default;
  background-color: rgba(210, 210, 210, 0.11);
}

/*.dropdownList li:nth-of-type(2):before{
  content: '';
  display: block;
  width: 100%;
  height: ;
}*/

.calculator .calculator_summary li{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(85, 223, 180, 1);
  border-radius: 6px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 4px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 8px auto;
}

.price{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}


.calculator li.invisible {
  display: none;
}

#total{
  width: 179px;
  background-color: rgba(8, 166, 228, 1);
  margin: 0 0 auto auto;
}


/*---------------------dropdown---------------------*/

/*
.custom-select {
  width: 100%;
  position: relative;
}

.custom-select select{
  display: none;
}

.select-selected{
  background-color: grey;
}

.select-selected:after{
  position: absolute;
  content: '';
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/Arrow Down.svg");
}

.select-selected.select-arrow-active:after{

}


.select-items div*/

.checkbox_container{
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 17px;
  font-size: 12px;
  color: #707070;
  margin: 23px auto 27px 0px;
  padding-left: 34px;
  position: relative;

}

#firstCheckbox, #secondCheckbox{
  padding-left: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: -4px;
}

#firstCheckbox:after, #secondCheckbox:after{
  content: '';
  display: block;
  background-image: url(../images/icons/calculator_checkmark.svg);
  background-size: cover;
  width: 16px;
  height: 18px;
  opacity: 0;
  position: absolute;
  left: 3px;
  top: 0;
}

#accountancyCheckboc:hover + #firstCheckbox, #terminalCheckbox:hover +#secondCheckbox{
  background-color: rgba(0,0,0, 0.1);
}

#accountancyCheckboc:checked + #firstCheckbox:after, #terminalCheckbox:checked + #secondCheckbox:after{
  opacity: 1;
}

#accountancyCheckboc:focus + #firstCheckbox, #terminalCheckbox:focus + #secondCheckbox{
  border: 2px solid #08A6E4;
}

#accountancyCheckboc, #terminalCheckbox{
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  left: 0;
  bottom: -3px;
  opacity: 0;
}



